// Colors

$color-background-home: #fefff4;
/* $color-background-about: 
$color-background-contact: 
 */
$color-primary-header: #414a4f;
$color-primary-link: #65615b;
$color-header-baby-blue: #48baf8;
$color-header-baby-pink: #ffa9e7;


// Fonts
$font-sans-serif: sans-serif;
$font-open-sans: 'Open Sans';
$font-home-top-cursive: 'Aguafina Script';
$font-home-bottom: 'Bungee Outline';
