/*
---------------------
GENERAL STYLES
---------------------
*/
* {
  margin: 0;
  padding: 0;
}

body, html {
	font: normal 16px sans-serif;
  width: 100vw;
  height: 100vh;
  line-height: 1.5;
}

/*
---------------------
MAIN STYLES
---------------------
*/

section {
  background-color: #fefff4;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 75%;
  text-align: center;
}

h3 {
	color: #414a4f;
  font: 300 32px 'Open Sans', sans-serif;
  padding-bottom: 2em;
}

ul {
  display: flex;
  justify-content: space-around;
}

li {
  list-style-type: none;
  display: inline-block;
}

li a {
  text-decoration: none;
  color: #65615b;
  display: inline-block;
  margin: 20px;
  cursor: pointer;
  opacity: 0.8;
  font-size: 1.25em;
}

.smaller-font {
  color: #48baf8;
  font-family: 'Aguafina Script', cursive;
  font-size: 45px;
  text-transform: lowercase;
}

.bigger-font{
  font-size: 80px;
  color: #ffa9e7;
  text-transform: uppercase;
	margin-bottom: 15px;
  font-family: 'Bungee Outline', cursive;
  -webkit-animation: neon 1.5s ease-in-out infinite alternate;
  -moz-animation: neon 1.5s ease-in-out infinite alternate;
  animation: neon 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 10px #ffa9e7, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ffa9e7, 0 0 70px #ffa9e7, 0 0 80px #ffa9e7, 0 0 100px #ffa9e7, 0 0 150px #ffa9e7;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 35px #fff, 0 0 20px #ffa9e7, 0 0 35px #ffa9e7, 0 0 40px #ffa9e7, 0 0 75px #ffa9e7, 0 0 75px #ffa9e7;
  }
}

@media (max-width: 500px) {
  .bigger-font {
    font-size: 50px;
  }
}